[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SoilManageR"]
	path = SoilManageR
	url = https://gitlab.com/soilmanager/soilmanager
